extends ../shared/template

block content
  .container-fluid
    #steps.step.cover
      form#formElem(name='formElem', action='', method='post')
        fieldset.step.holder
          legend.searchlegend.s Search
          p.allp
            label.labels Age
            select.selects#age(name='age')
              option(value='any') Select Age Range
              option(value='5') Within 5 years
              option(value='10') Within 10 years
              option(value='15') Within 15 years
              option(value='20') Within 20 years
              option(value='any') No Preference
          p.allp
            label.labels Religion
            select.selects#religion(name='religion')
              option(value='any') Select Religion
              option(value='christian') Christian
              option(value='jewish') Jewish
              option(value='muslim') Muslim
              option(value='hindu') Hindu
              option(value='buddhist') Buddhist
              option(value='atheist') Atheist
              option(value='agnostic') Agnostic
              option(value='other') Other
              option(value='none') None
              option(value='any') No Preference
          p.allp
            label.labels Height
            select.selects#height(name='height')
              option(value='any') Select Height
              option(value='u59') Under 4'11"
              option(value='59-64') 4'11" to 5'4"
              option(value='65-71') 5'5" to 5'11"
              option(value='72-77') 6'0" to 6'5"
              option(value='o77') Above 6'5"
              option(value='any') No Preference
          p.allp
            label.labels Body Type
            select.selects#bodytype(name='bodytype')
              option(value='any') Select Body Type
              option(value='slender') Slender
              option(value='petite') Petite
              option(value='fit') Fit
              option(value='athletic') Athletic
              option(value='ripped') Ripped
              option(value='hour glass with extra minutes') Hour Glass With Extra Minutes
              option(value='more to love') More To Love
              option(value='stocky') Stocky
              option(value='any') No Preference
        button.dashboardsearch.btn.btn-primary Search
    #steps.step.cover.right
      #profilepic(style='background-image: url(#{user.photo})')
      .btns
        a.a_demo_four.view(href='/profile/#{user._id}') View Profile
      .btns
        a.a_demo_four.edit(href='/profile/#{user._id}/setup') Edit Profile
    #steps.step.cover.clear
      h3.actH3 Your Upcoming Activities
      if(activities)
        each activity in activities
          .activity
            .activityname
              a(href='/activity/#{activity._id}') #{activity.name}
            .activitydate #{activity.date}
            .activitydescription #{activity.description}
    #steps.step.cover.clear.right
      h3.actH3.inbox Inbox
      if(messages)
        each message in messages
          .message(class='#{message.classes}')
            .messagesubject
              a(href='/message/read/#{message._id}') #{message.subject}
      else
        h2 You have no messages
