extends ../shared/template

block content

  #messagediv

    h1#messageh1 Message

    #toUser To: #{toUser.name}
    #fromUser From: #{fromUser.name}
    //#date #{moment().format('MM/DD/YYYY')}

    form(action='/message/#{toUser._id}', method='post')
      input(type='hidden', value='#{fromUser._id}', name='fromUserId')
      input(type='hidden', value='#{toUser._id}', name='toUserId')
      input#subject.form-control(type='text', placeholder='Subject', name='subject')
      textarea(rows='7', placeholder='Type Your Message Here', name='body')#messagebody.form-control

      button.btn.btn-primary#sendmessage Send Message
