extends ../shared/template

block content
  if(user1.sex === 'male')
    body#background
      #contain
        .container
          .section1.left.col-md-4
            .holder
              #about= user1.about
          .section1.middle.col-md-4
            #pic(style='background-image: url("#{user1.photo}")')
            #name1= user1.name
            div.button-holder
              div.center-content
                a.type-3(href='/message/#{user1._id}')
                  span Message
                  span Message
                  span Message
          .section1.right.col-md-4
            .holder
              #sex Sex: #{user1.sex}
              #lookingFor Looking for: #{user1.lookingFor}
              #race Race: #{user1.race}
              #religion Religion: #{user1.religion}
              #age Age: #{user1.age}
              #bodyType Body Type: #{user1.bodyType}
              #height Height: #{user1.convertHeight}
  else
    body#background2
      #contain2
        .container
          .section2.left.col-md-4
            .holder
              #about= user1.about
          .section2.middle.col-md-4
            #pic(style='background-image: url("#{user1.photo}")')
            #name1= user1.name
            div.button-holder
              div.center-content
                a.type-3(href='/message/#{user1._id}')
                  span Message
                  span Message
                  span Message
          .section2.right.col-md-4
            .holder
              #sex Sex: #{user1.sex}
              #lookingFor Looking for: #{user1.lookingFor}
              #race Race: #{user1.race}
              #religion Religion: #{user1.religion}
              #age Age: #{user1.age}
              #bodyType Body Type: #{user1.bodyType}
              #height Height: #{user1.convertHeight}
