extends ../shared/template

block content
  if(user.sex === 'male')
    #background
    #contain
      #pic
      #name1= user.name
      a#msg(href='/message/#{user._id}') Message Me!
  else
    #background2
      #contain2
        #pic
        #name2= user.name
        a#msg(href='/message/#{user._id}') Message Me!
      .container
          .section.col-md-8
            #about= user.about
            #line
            if(activities)
              each activity in activities
                .activity= activity.name
          .side.col-md-4
            #sex= user.sex
            #lookingFor= user.lookingFor
            #race= user.race
            #religion= user.religion
            #bodyType= user.bodyType
            #height= user.height
