extends ../shared/template

block content

  #searchresults

    each result in results
      div.result
        img.resultimage(src='#{result.photo}')
        p Name: #{result.name}
        p Looking for: #{result.lookingFor}
        p About #{result.name}: #{result.about}
        p
          a.viewthisprofile(href='/profile/#{result._id}') View #{result.name}'s Profile
