extends ../shared/template

block content

  #showactivity

    h1#activityname #{activity.name}
    h4 #{activity.date}
    p.activityinfo Description:
    h4 #{activity.description}
    p.activityinfo Address:
    h4 #{activity.address}
    p.activityinfo Tags:
    h4 #{activity.tags}

    form(method='post', action='activity/activity._id/user._id')
      button.btn.btn-primary.rsvp RSVP
