extends ../shared/template

block content

  #showactivity

    h1#activityname #{activity.name}
    h4 #{activity.date}
    p.activity Description:
    h4 #{activity.description}
    p.activity Address:
    h4 #{activity.address}
    form(action='/activity/rsvp/#{activity._id}', method='POST')
      button.btn.btn-primary.rsvp RSVP

  #going

    h1.seewhoisgoing Attendees:
    each attendee in activity.attendees
      div.attendee
        .attendeepic(style='background-image: url("#{attendee.photo}")')
        a.showattendeename(href='/profile/#{attendee.userId.toString()}') #{attendee.name}
